@import './fonts.css';

:root {
  --font-family-text: 'PT Sans';
  --font-family-year: 'Bebas Neue';
  --color-text: rgb(66, 86, 122);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: rgb(229, 229, 229);
}
ul {
  list-style: none;
}
body {
  font-family: var(--font-family-text);
  font-size: 20px;
  line-height: 30px;
  color: var(--color-text);
}
.wrapper-container {
  width: 100dvw;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  border-left: 1px solid rgba(66, 86, 122, 0.2);
  border-right: 1px solid rgba(66, 86, 122, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
/* вертикальная линия */
.wrapper-container::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(66, 86, 122, 0.2);
}
@media (max-width: 768px) {
  .wrapper-container {
    min-width: 768px;
    padding: 0 20px;
    border: none;
    display: block;
  }
  .wrapper-container::before {
    display: none;
  }
}
@media (max-width: 320px) {
  .wrapper-container {
    min-width: 320px;
  }
}
.historical-dates {
  margin-top: 170px;
  margin-bottom: 56px;
  flex-grow: 1;
  position: relative; /* относительно этого контейнера буду позиционировать circle-menu */
  display: flex;
  justify-content: center;
  align-items: center;
}
.historical-dates::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(66, 86, 122, 0.2);
  z-index: -1;
}
@media (max-width: 768px) {
  .historical-dates {
    display: block;
    /* margin-top: 59px; */
  }
  .historical-dates::after {
    display: none;
  }
}
@media (max-width: 320px) {
  .historical-dates {
    margin-top: 59px;
  }
}
.header-title {
  width: min-content;
  font-size: 56px;
  line-height: 120%;
  position: absolute;
  left: 80px;
  top: 0;
}
.header-title::before {
  content: '';
  position: absolute;
  left: -80px;
  top: 0;
  width: 5px;
  height: 100%;
  background: linear-gradient(#3877ee, #ef5da8);
}
@media (max-width: 768px) {
  .header-title {
    margin-bottom: 56px;
    position: static;
  }
  .header-title::before {
    display: none;
  }
}
@media (max-width: 320px) {
  .header-title {
    font-size: 20px;
  }
}
.years-container {
  width: 100%;
  max-width: 973px;
  font-size: 200px;
  font-weight: 700;
  line-height: 160%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .years-container {
    /* width: 100vw; */
    max-width: 530px;
  }
}
@media (max-width: 320px) {
  .years-container {
    max-width: 273px;
    font-size: 56px;
    margin-bottom: 77px;
  }
}
.years-container__date-up {
  color: #5d5fef;
}
.years-container__date-to {
  color: #ef5da8;
}
.circular-menu {
  width: 530px;
  height: 530px;
  border: 1px solid rgba(66, 86, 122, 0.2);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
@media (max-width: 768px) {
  .circular-menu {
    display: none;
  }
}
.circular-item {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: rgb(66, 86, 122);
  border-radius: 50%;
}
.circular-item__link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(66, 86, 122);
  cursor: pointer;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  transition: all 0.2s ease;
}
.circular-item__link:hover,
.circular-item__link-active {
  border: 1px solid rgba(48, 62, 88, 0.5);
  background-color: rgb(229, 229, 229);
  z-index: 10;
}
.circular-item__link-text {
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 20px;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
.circular-item__link-active .circular-item__link-text {
  opacity: 1;
}
.circular-item__link-index {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 50%;
  left: 50%;
  font-weight: 400;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.circular-item__link:hover .circular-item__link-index,
.circular-item__link-active .circular-item__link-index {
  opacity: 1;
}
.switch-buttons {
  width: 120px;
  height: 88px;
  position: absolute;
  left: 80px;
  bottom: 0;
}
.switch-buttons__selected-info {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
}
.switch-buttons__container {
  display: flex;
  justify-content: space-between;
}
.button {
  border: 0;
  border-radius: 50%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.disabled-button {
  opacity: 0.2;
}
.button-prev-date,
.button-next-date {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(66, 86, 122, 0.5);
  background: transparent;
  position: relative;
}
.button-prev-date:hover,
.button-next-date:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.button-prev-date:active,
.button-next-date:active {
  background-color: rgb(255, 255, 255);
}
.button-prev-date::after,
.button-next-date::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  mask-image: url(../img/svg/Vector\ 2.svg);
  mask-repeat: no-repeat;
  background-repeat: no-repeat;
  background-color: rgb(66, 86, 122);
  transform: translate(-50%, -50%) translateX(2px);
}
.button-next-date::after {
  transform: translate(-50%, -50%) translateX(-2px) rotate(180deg);
}
.button-next-event,
.button-prev-event {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
  position: absolute;
}
.button-next-event {
  top: 50%;
  right: 20px;
  transform: translateY(-50%) rotate(180deg);
}
.button-prev-event {
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.button-prev-event::after,
.button-next-event::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 14px;
  height: 14px;
  mask-image: url(../img/svg/Vector\ 2.svg);
  mask-repeat: no-repeat;
  background-color: rgb(56, 119, 238);
  transform: translate(-50%, -50%) translateX(2px);
}
.button-next-event:hover,
.button-prev-event:hover {
  background-color: rgba(56, 119, 238, 0.1);
}
.event-list {
  border: 1px solid red;
  padding: 0 80px;
  height: 135px;
  margin-bottom: 104px;
  position: relative;
}
.event-list .swiper-slide {
  min-width: 200px;
  max-width: 400px;
}
.event-title {
  margin-bottom: 15px;
  color: #3877ee;
}

@media (max-width: 320px) {
  /* .historical-dates {
    margin: 0;
    margin-top: 59px;
    position: static;
  }

  .switch-buttons {
    position: absolute;
    top: 505px;
    left: 20px;
    width: 58px;
    height: 49px;
  }
  .event-title {
    font-size: 16px;
  }
  .event-description {
    font-size: 14px;
    line-height: 145%;
  }
  .event-list {
    margin: 0;
    padding: 0;
  }
  .event-item {
    width: 166px;
  }
  .button-prev-date,
  .button-next-date {
    width: 25px;
    height: 25px;
  }
  .selected-info {
    margin-bottom: 10px;
  } */
}
